<!DOCTYPE html>
<html>
<head>
    <title>EsriNL GeoForm AngularJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Bootstrap Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css" />
    <!-- Custom theme -->
    <link href="css/site.css" rel="stylesheet">
</head>
<body>
    <main ng-app="GeoFormApp" class="container">
        <header>
            <h1>Geoform</h1>
        </header>
        <main ng-controller="FeatureLayerCtrl">
            <div ng-hide="fields">
                <p>Loading...</p>
            </div>
            <form name="geoform" novalidate>
                <div class="form-group" ng-show="fields">
                    <fieldset>
                        <legend>Enter the information</legend>
                        <div ng-repeat="field in fields">

                            <div ng-if="field.fieldType == 'esriFieldTypeString'">
                                <label>
                                    {{field.fieldAlias}}
                                    <input name="input{{field.fieldName}}" type="text" ng-model="attributes[field.fieldName]" class="form-control" required>
                                </label>
                            </div>
                            <div ng-if="field.fieldType == 'esriFieldTypeInteger'">
                                <label>
                                    {{field.fieldAlias}}
                                    <input name="input{{field.fieldName}}" type="number" ng-model="attributes[field.fieldName]" class="form-control" required>

                                </label>
                            </div>
                            <div ng-if="field.fieldType == 'esriFieldTypeDate'">
                                <label>
                                    {{field.fieldAlias}}
                                    <input name="input{{field.fieldName}}" type="date" value="2016-03-25" ng-model="attributes[field.fieldName]" class="form-control" required>
                                </label>
                            </div>
                            <div ng-if="field.fieldType == 'esriFieldTypeDouble'">
                                <label>
                                    {{field.fieldAlias}}
                                    <input name="input{{field.fieldName}}" type="number" step="0.01" min="0" ng-model="attributes[field.fieldName]" class="form-control" required>
                                </label>
                            </div>
                            <div>
                                <span ng-show="geoform.input{{field.fieldName}}.$invalid && geoform.input{{field.fieldName}}.$touched">
                                    Please enter a value for this field.
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <fieldset>
                        <legend>Draw on the map</legend>
                        <div class="geoform-draw-buttons">
                            <div class="btn btn-default" ng-click="startDrawing('FreehandPolygon')">
                                <img src="images/draw_freehand_polygon.png" width="28" />
                            </div>
                            <div class="btn btn-default" ng-click="startDrawing('Polygon')">
                                <img src="images/draw_polygon.png" width="28" />
                            </div>
                            <div class="draw-help-text" ng-show="drawingEnabled">
                                Draw your feature on the map
                            </div>
                        </div>

                        <esri-map id="map" map-options="{ basemap: 'streets', center: [5.11, 52.09], zoom: 13 }" load="onMapLoad">
                        </esri-map>
                    </fieldset>
                </div>
                <div class="form-group">
                    <button ng-click="addFeature(geoformfield)" class="btn btn-default">Submit form</button>
                    <div ng-show="invalidForm" class="geoform-error-message">
                        <p>Please fill out the form correctly and draw a polygon on the map.</p>
                    </div>
                </div>
            </form>
        </main>

        <footer>
            <p>
                Created by: Fons Hissink
            </p>
        </footer>
    </main>
    <script src="https://js.arcgis.com/3.15/"></script>
    <!-- load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <!-- load angular-esri-map -->
    <script src="//unpkg.com/angular-esri-map@1.1.3"></script>
    <script src="js/index.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>
